body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    overflow: hidden;
}
.game-container {
    display: flex;
    margin-left: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 1320px;
    height: 672px;
}

.control-panel {
    width: 20vw;
    height: 100vh;
    background-color: #2a2a40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.control-panel button {
    width: 80%;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.control-panel button:hover {
    background-color: #0056b3;
}

.control-panel button:disabled {
    background-color: #888;
    cursor: not-allowed;
}

#board-container {
    width: 80vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    max-width: 1024px;
}

.map-image {
    width: 100vh;
    height: 100vh;
    opacity: 0.5;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 80vw;
    height: 100vh;
    border: 2px solid white;
    margin: 0;
    max-width: 1028px;
}

.cell {
    border: 1px solid rgb(252, 8, 183);
    background-color: #dddddd03;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    transition: background 0.3s;
    width: 100px;
    height: 100px;
}

.cell:hover {
    background-color: #bbb;
}
.counter {
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: rgb(109, 206, 245);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

/* Active Counter (Clicked) */
.counter.active {
    background-color: #4caf50; 
    border: 2px solid white; 
}
#counter-Monster {
    background-color: red;
}

#info-display {
    width: 80%;
    height: 350px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #444;
    border: 1px solid #666;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


